* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0px;
  padding: 0px;  
}

header{
  background-color: yellow;  
    display: flex;
  justify-content: space-between;

  padding-bottom: 1rem;
 
  
  }

nav{
  
  text-decoration: none;
}

ul{
  display: flex;
  align-items: center;
  height: 100%;
  }
li{
  margin-left: 1.5rem;
  list-style: none;
 }
 a{
  text-decoration: none;
 }

 main {
  background-color: aqua;
  padding-top: 10px;
  color: white;
 }
section{
  display: flex;
}
 div{
  background-image: url("./img/bg_laranja.jpg");
  margin: 1rem;
  padding: 1rem;
  width: 300px;
  height: 150px;
  

     }
