* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;  
}

header{
  background-color: yellow;  
    display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  
  }
nav{
  
  text-decoration: none;
}

ul{
  display: flex;
  align-items: center;
  height: 100%;
  }
li{
 
  margin-left: 1.5rem;
  list-style: none;
 }
 a{
  text-decoration: none;
 }